<script>
$(function(){
  // $("#shuffle-btn").one("click",function(){
  $("#shuffle-btn").one('click',function(){
    shufflePosition();
  });

  function shufflePosition(){
    var users = gon.users
    result = rand(users);
    updates(result);
  };

  function rand(users) {
    var result = [];
    var idx = 0;
    
    while(users.length != 0){
      idx = Math.floor(Math.random() * users.length)
      result.push(users[idx].id);
      users.splice(idx,1);
    }
    return result;
  };

  function updates(list){
    $.each(list, function(idx, user_id){
      update(idx, user_id);
    });
  };

  function update(idx, id){
  };

});
</script>
<body>
<div class="page-body">
  <div class="table-responsive">
    <table id="seat-position">
      <tr>
        <% @users.each_with_index do |user,idx| %>
          <% color = linecolor(idx)%>
          <td class="bg-<%= color %>">
            <p class="img-responsive thumb">
            <%= image_tag user.image_url(:thumb), alt: user.nick_name %>
            </p>
          </td>
          <% if newline?(idx+1) %> </tr> <% end %>
        <% if newline?(idx+1) && idx< (2*@users.size/3) %> <tr> <% end %>
        <% end %>
    </table>
  </div>

  <a id="shuffle-btn" class="btn btn-success btn-lg">SHUFFLE!!</a>
  <%= link_to 'ユーザ一覧',
    users_path,
    :class => 'btn btn-primary' %>
</div>
</body>
