<script>
$(function(){
  // $("#shuffle-btn").one("click",function(){
  $("#shuffle-btn").one('click',function(){
    shufflePosition();
  });

  function shufflePosition(){
    var users = gon.users
    u = $.extend(true, [], users);
    result = rand(u);
    updates(result);
  };

  function rand(users) {
    var result = [];
    var idx = 0;
    
    while(users.length != 0){
      idx = Math.floor(Math.random() * users.length)
      result.push(users[idx].id);
      users.splice(idx,1);
    }
    return result;
  };

  function updates(list){
    $.each(list, function(idx, user_id){
      update(idx, user_id);
    });
  };

  function update(idx, uid){
		var url = "/users/" +uid;
    aid = uid-1
    console.debug(idx, uid);

    var users = gon.users
     var obj = {
       '_method':'patch',
       'user': {
         'nick_name': users[aid].nick_name,
         'position' : idx + 1 
       }
     }
    console.debug(users[aid])
    $.ajax({
			contentType: "application/json", 
			dataType: "json", 
			type: "PUT", 
			url: url,
      data: JSON.stringify(obj)
    });
  };

});
</script>
<body>
<div class="page-body">
  <div class="table-responsive">
    <table id="seat-position">
      <tr>
        <% @users.each_with_index do |user,idx| %>
          <% color = linecolor(idx)%>
          <td class="bg-<%= color %>">
            <p class="img-responsive thumb">
            <%= image_tag user.image_url(:thumb), alt: user.nick_name %>
            </p>
          </td>
          <% if newline?(idx+1) %> </tr> <% end %>
        <% if newline?(idx+1) && idx< (2*@users.size/3) %> <tr> <% end %>
        <% end %>
    </table>
  </div>

  <a id="shuffle-btn" class="btn btn-success btn-lg">SHUFFLE!!</a>
  <%= link_to 'ユーザ一覧',
    users_path,
    :class => 'btn btn-primary' %>
</div>
</body>
