<div class="page-body">
  <div class="table-responsive">
    <table id="seat-position">
      <tr>
        <% @users.each_with_index do |user,idx| %>
          <% color = linecolor(idx)%>
          <td class="bg-<%= color %>">
            <p class="img-responsive thumb">
            <%= image_tag user.image_url(:thumb), alt: user.nick_name %>
            </p>
          </td>
          <% if newline?(idx+1) %> </tr> <% end %>
        <% if newline?(idx+1) && idx< (2*@users.size/3) %> <tr> <% end %>
        <% end %>
    </table>
  </div>

  <%= link_to 'SHUFFLE!!',
    users_path,
    :class => 'btn btn-success btn-lg' %>
  <%= link_to 'ユーザ一覧',
    users_path,
    :class => 'btn btn-primary' %>
</div>
</body>
