// Place all the styles related to the seat_position controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

#seat {
  background-image: asset-data-url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
#seat-table{
  width: 100%;
  height: 30em;
  max-height: 40em;
  background-color: rgba(0,0,0,0.5);
}
td.thumb-td{
  text-align: center;
  vertical-align: top;
  border-spacing: 5em;
  padding: 1em 0em;
}

.nickname {
  font-size: 2vw; 
}
.thumb img {
  border-radius: 50px;
}

