// Place all the styles related to the seat_position controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

#seat {
  background-image: asset-data-url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
#seat-table{
  width: 100%;
  height: 30em;
  max-height: 40em;
  background-color: rgba(0,0,0,0.35);
}

td.seat-td {
  vertical-align: top;
  border-spacing: 5em;
  padding: 1em 0em;
}

.user-info {
  text-align: center;
}

.nickname {
  font-size: calc(10px + 1vw);
  color: white; 
  background-color: rgba(0,0,0,0.5);
  display:inline;
  border-radius: 10px;
}
img.thumb {
  border-radius: 50px;
  border: 2px solid #3C3737;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

